<!DOCTYPE html>
<!-- START Sponsor Widget -->
<script src="js/dw_event.js" type="text/javascript"></script>
<script src="js/dw_rotator.js" type="text/javascript"></script>
<script type="text/javascript">
var rotator1 = {
    path:   'sponsors/',
    id:   'r1',

    speed:  3500, // default is 4500

    //speed:  8000, // default is 4500
    bTrans: true, // ie win filter
    bRand:  false, // random rotation
    bMouse: true, // pause/resume
images: ["rz_dg-mouton_highresolution_180x100.jpg","MLA Bibliography.jpg","Brill logo 2023_300x100.jpg","GallaudetUnivPress_Logo-Inverted_300x70.jpg","jb.lsa.250x83.jpg","GUP Logo for LSA 250x100 150dpi JPG.jpg","logo250x100.LSA.jpg","UniversityofPennsylvania_FullLogo_RGB.jpg"],actions: ["https://www.degruyter.com/publishing/for-authors/for-book-authors/our-subject-areas/linguistics-mouton","https://www.mla.org/Publications/MLA-International-Bibliography/About-the-MLA-International-Bibliography","http://brill.com/","https://gupress.gallaudet.edu/","https://benjamins.com/content/home","http://","https://mitpress.mit.edu/","https://www.upenn.edu"],
 bTrans: true // ie win filter  
}

function initRotator() {
    dw_Rotator.setup(rotator1);
}

dw_Event.add( window, 'load', initRotator);
</script>
<!-- END Sponsor Widget -->



<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>LSA</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="format-detection" content="telephone=no">

		<!-- Le styles -->
		<link rel="shortcut icon" href="images/theme/favicon.ico" type="image/x-icon">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/flexslider.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="slick/slick.css">
    	<link rel="stylesheet" type="text/css" href="slick/slick-theme.css">
        <link href="/css/smstyle.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"  />
       	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

        <script src="/js/modernizr.custom.js"></script>
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->
		<!--[if  IE 8]>
		<style>
		.navbar .main-menu ul li:hover ul {
		  display: block;
		}

		</style>
		<![endif]-->

        <meta name="referrer" content="no-referrer-when-downgrade">
	<script id="naylor-privacy-script"
		data-org-name=""
		data-mode="passive"
		data-policy-url="/cookiepolicy.asp"
		type="text/javascript" src="https://cdn.naylor.com/end-user-privacy/index.js">
	</script>	
	<script type="text/javascript">		
		window.onload = function(){
			var privacybanner = document.getElementsByClassName("naylor-privacy-banner");
			var i;		
			for (i = 0; i < privacybanner.length; i++) {			
				privacybanner[i].classList.add("naylor-privacy-banner-hide-print");
			}
		};			
	</script>

    <!-- Alter search form to track search keywords in Google Analytics -->
    <script>
        function runSearchDomChanges() {
            $('form').each(function() {
                var formEl = $(this);
                var formActionText = formEl.attr('action');
                if(formActionText.substring(0, 10) == "search.asp" || formActionText.substring(0, 11) == "/search.asp") {
                    formEl.attr('method','GET');
                    $(formEl.find(":input[name='search']")).attr('name','keywords');
                    $(formEl.find(":button[name='keywords']")).attr('name','search');

                    if($(formEl.find(":input[name='type']")).length === 0) { 
                        formEl.append('<input type="hidden" name="type" value="basic">');
                    }
                }
            });
        }

        document.addEventListener('DOMContentLoaded', function load() {
            if (!window.jQuery) return setTimeout(load, 50);
                runSearchDomChanges();
        }, false);

    </script>

	
	<style type="text/css">
		@media print {
			.naylor-privacy-banner-hide-print  { display: none !important; }
			a[href]:after {
				content: "" !important;
			}
		}
	</style>
	
    <!-- Google Analytics Code Begin -->
	 <script type="text/javascript">    
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || [
            ]).push(arguments)
        },
        i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o) [0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    }) (window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'gaTimberlake');
	</script>
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-884886BQF9">
	</script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
		if(window.naylorPrivacy){
			if(window.naylorPrivacy.shouldLoad("Performance")){    
				gtag('config', 'G-884886BQF9');
				gtag('config', 'G-EYVHMT7DT1');
				addTimberlakeTracker();
				addClientTracking();
			}
		} else {
			gtag('config', 'G-884886BQF9');
			gtag('config', 'G-EYVHMT7DT1');
			addTimberlakeTracker();
            addClientTracking();
		}
    
	function addTimberlakeTracker () {
		gaTimberlake('create', 'G-884886BQF9', 'auto', 'TimberlakeTracker');
    	gaTimberlake('set', 'anonymizeIp', true);
    	// gaTimberlake('TimberlakeTracker.send', 'pageview');
	}

    function addClientTracking(){
        gaTimberlake('create', 'G-EYVHMT7DT1', 'auto', 'ClientTracker0');

    }
    
    function analyticsLinkTracking (a) {
        gaTimberlake('TimberlakeTracker.send', 'event', a.target.href, 'click', a.target.href);
        if(window.naylorPrivacy.shouldLoad("Performance")){    
        gaTimberlake('ClientTracker0.send', 'event', a.target.href, 'click', a.target.href);

        }            
    }
    </script>
    <!-- Google Analytics Code End -->
<!-- Custom Head Region Code Begin -->

<!-- Custom Head Region Code End -->

	</head>
	<body>
		<div class="container">
			<header>
				<div class="header-section">
					<div class="wrapper">
						<div class="row">
							<div class="col-sm-4 col-md-5">
								<div class="logo">
									<a href="/"><img src="images/theme/logo.png" alt="logo"></a>
								</div><!-- end logo -->
							</div><!-- end col-md-3 -->
							<div class="col-sm-8 col-md-7">
								<div class="top-contain">
									<div class="top-links">
										<ul>
	<li><a href="https://www.lsadc.org/membership">MEMBERSHIP</a></li>
	<li><a href="https://www.lsadc.org/careers">CAREERS</a></li>
	<li><a href="https://lsadc.org/lsa_news">LSA&nbsp;NEWS</a></li>
	<li><a href="https://lsadc.org/media">MEDIA</a></li>
	<li><a href="https://lsadc.org/advocacy">ADVOCACY</a></li>
	<li><a href="https://lsa.membershipsoftware.org/secretariat_staff">CONTACT</a></li>
</ul>

									</div>
									<div class="clear"></div> 
									<div class="top-contain-bottom">
										<div class="member-login">
											<div class="login-area">
        <form action='https://secure006.membershipsoftware.org/lsasecure//login.asp' id='login' method='post'>
            <fieldset>
                <div class="entry-field">
                    <input class="txt-user" type="text" placeholder="Username" name="username"/>
                </div>
                <div class="entry-field pass">
                    <input class="txt-pass" type="password" placeholder="Password" name="password"/>
                </div>
                <div class="sign-btn">
                    <button class="btn" type="submit">Login</button>
                </div>
                <div class="button-left">                                               
                    <a href="assoc_forgot.asp" class="frgt">Forgot Your Password</a>
                </div>                                 
            </fieldset>
        </form>
  </div>


 

										</div>
										<div class="donate-btn">
											<a class="btn" href="https://lsa.membershipsoftware.org/content.asp?admin=Y&amp;contentid=234">Donate</a>
										</div>
									</div>
								</div><!--top-contain-ends-->
							</div><!--end of col-9-->
						</div><!--end of row-->
					</div><!--end of wrapper-->
				</div><!--end of header-section-->
				<div class="navrow">
					<div class="wrapper">
						<div class="row">
							<div class="col-xs-12 col-sm-10 col-md-10">
								
                <div class="navbar navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span> 
                                <span class="icon-bar"></span> 
                                <span class="icon-bar"> </span> 
                            </button>
                        </div>    
                             <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">  
        
        
           
            <li>
                <a href="https://resourcehub.lsadc.org" target="_self">
                Resource Hub
                </a>
            </li>
            <li class="dropdown">


                <a class="dropdown-toggle" href="lsa-events" target="_self">
                    Events
                    <span class="caret"></span>
                </a>
                    <ul class="dropdown-menu">
                    
                      
                      
                                <li>
                <a href="https://lsa.membershipsoftware.org/calendar_list.asp" target="_blank">
                    Event Calendar
                </a>
                                </li>
                                <li>
                <a href="lsa-annual-meeting" target="_self">
                    LSA Annual Meeting
                </a>
                                </li>
                                <li>
                <a href="content.asp?contentid=138" target="_self">
                    Linguistic Institutes
                </a>
                                </li>
                                <li>
                <a href="content.asp?contentid=140" target="_self">
                    CoLang
                </a>
                                </li>
                                <li>
                <a href="content.asp?contentid=141" target="_self">
                    SALT
                </a>
                                </li>
                    
                </ul>
            </li>
            <li class="dropdown">


                <a class="dropdown-toggle" href="content.asp?contentid=142" target="_self">
                    Committees & Special Interest Groups
                    <span class="caret"></span>
                </a>
                    <ul class="dropdown-menu">
                    
                      
                      
                                <li>
                <a href="https://www.lsadc.org/executive_committee" target="_self">
                    Executive Committee (EC)
                </a>
                                </li>
                                <li>
                <a href="content.asp?contentid=216" target="_self">
                    Subcommittees of the Executive Committee
                </a>
                                </li>
                                <li>
                <a href="content.asp?contentid=149" target="_self">
                    Standing Committees
                </a>
                                </li>
                                <li>
                <a href="content.asp?contentid=147" target="_self">
                    Award Committees
                </a>
                                </li>
                                <li>
                <a href="content.asp?contentid=214" target="_self">
                    Open Committees
                </a>
                                </li>
                                <li>
                <a href="content.asp?contentid=215" target="_self">
                    Special Interest Groups
                </a>
                                </li>
                    
                </ul>
            </li>
            <li class="dropdown">


                <a class="dropdown-toggle" href="publications" target="_self">
                    Publications
                    <span class="caret"></span>
                </a>
                    <ul class="dropdown-menu">
                    
                      
                      
                                <li>
                <a href="lsa_journals_style_sheet" target="_self">
                    LSA Journals Style Sheet
                </a>
                                </li>
                                <li>
                <a href="language" target="_self">
                    Language
                </a>
                                </li>
                                <li>
                <a href="https://semprag.org/index.php/sp" target="_blank">
                    Semantics and Pragmatics
                </a>
                                </li>
                                <li>
                <a href="https://www.cambridge.org/core/journals/phonological-data-and-analysis" target="_blank">
                    Phonological Data and Analysis
                </a>
                                </li>
                                <li>
                <a href="jblac" target="_self">
                    Journal of Black Language and Culture (JBLAC)
                </a>
                                </li>
                                <li>
                <a href="plsa" target="_self">
                    Proceedings of the Linguistic Society of America (PLSA)
                </a>
                                </li>
                                <li>
                <a href="trill" target="_self">
                    Teaching Resources and Innovation Library for Linguistics (TRILL)
                </a>
                                </li>
                                <li>
                <a href="https://semanticsarchive.net/" target="_blank">
                    Semantics Archive
                </a>
                                </li>
                                <li>
                <a href="elanguage_archive" target="_self">
                    eLanguage Archive
                </a>
                                </li>
                                <li>
                <a href="https://journals.linguisticsociety.org/proceedings/" target="_blank">
                    Proceedings of Other Organizations
                </a>
                                </li>
                    
                </ul>
            </li>
            <li class="dropdown">


                <a class="dropdown-toggle" href="about" target="_self">
                    About
                    <span class="caret"></span>
                </a>
                    <ul class="dropdown-menu">
                    
                      
                      
                                <li>
                <a href="who-we-are" target="_self">
                    Who We Are
                </a>
                                </li>
                                <li>
                <a href="content.asp?contentid=508" target="_self">
                    Support the LSA
                </a>
                                </li>
                                <li>
                <a href="mission" target="_self">
                    Mission
                </a>
                                </li>
                                <li>
                <a href="leadership structure" target="_self">
                    Leadership Structure
                </a>
                                </li>
                                <li>
                <a href="ethics" target="_self">
                    Ethics
                </a>
                                </li>
                                <li>
                <a href="dei" target="_self">
                    Diversity, Equity & Inclusion
                </a>
                                </li>
                                <li>
                <a href="awards" target="_self">
                    Honors & Awards
                </a>
                                </li>
                                <li>
                <a href="secretariat_staff" target="_self">
                    Secretariat Staff
                </a>
                                </li>
                                <li>
                <a href="content.asp?contentid=409" target="_self">
                    History
                </a>
                                </li>
                                <li>
                <a href="content.asp?contentid=436" target="_self">
                    Policies
                </a>
                                </li>
                                <li>
                <a href="sister-societies" target="_self">
                    Sister Societies
                </a>
                                </li>
                    
                </ul>
            </li>
        
                    </ul>
                                            </div><!--navbar-collapse-ends-->
                                                
                                        </div>
                                    </div>
							</div><!-- end col-md-9 -->
							<div class="col-sm-2 col-md-2 search-row">
								<div class="search hidden-xs hidden-sm visible-md visible-lg">
									<form action="search.asp?type=basic" method="post">
									<input type="text" name="search" placeholder="Search">
									<button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
									</form>
								</div><!-- end col-md-2 -->
								<div class="icons visible-xs visible-sm hidden-md">
									<div class="search-icon">
										<a href="#search"><i class="fa fa-search"></i></a>
									</div><!-- end search-icons -->
									<div id="searchbar" class="clearfix">
										<form class="searchform" action="search.asp?type=basic" method="post">
										<input type="hidden" name="type" value="basic">
										<input class="search-field input-medium search-query" name="search" type="text" placeholder="Search this site...">
										<button class="btn search-btn" type="submit" name="search"><i class="fa fa-search"></i></button>
										</form>
									</div><!-- end searchbar -->
								</div><!-- end icons -->
							</div><!-- end col-3 -->
						</div><!-- end row -->
					</div><!-- end wrapper -->
				</div><!-- end navrow -->
			</header>
			<div class="clear"></div>
					
			<section class="slide"><!--slider-section-->
				<div class="slider-area">
					<div class="row">
						<div class="col-sm-12 col-md-12">
								
							<div class="slider-bg">	
								        <div class="flexslider">
			<ul class="flexslider slides">
                <li><div class="parallax" style="background-image:url('slider/u8Pb62Err46ow62.jpg')"><!--<img src="images/space.png" />--></div>
                
                <div class="slidecont"><div class="wrapper"><div class="caption"><div class="slide wrap"><p><h1>Join LSA Today</h1>

<p>Be part of the community of linguists who are advancing the scientific study of language and&nbsp;using their insights to make a difference in today&#39;s world.&nbsp;&nbsp;</p>
<a class="btn" href="https://lsa.membershipsoftware.org/content.asp?admin=Y&amp;contentid=222">Learn More</a></p></div></div></div></div>
                <!--<div class="caption"><p></p></div>
                </div>-->
                </li>
             
                <li><a href="https://semprag.org/index.php/sp/article/view/sp.18.11" target="_blank"><div class="parallax" style="background-image:url('slider/aEUg83Jww6Xt0XN.jpg')"><!--<img src="images/space.png" />--></div></a>
                
               <div class="slidecont"><div class="wrapper"><div class="caption"><div class="slide wrap"><p><h1>New in Semantics &amp; Pragmatics</h1>

<p>&quot;Some-things-considered desire.&quot; Milo Phillips-Brown.&nbsp;Volume 18,&nbsp;2025<br />
<br />
<a href="https://semprag.org/index.php/sp/article/view/sp.18.11"><input type="button" value="Read Online" /></a></p>
</p></div></div></div></div>
               <!--<div class="caption"><p></p></div>
               </div>-->
               
                
                </li>
             
                <li><a href="https://muse.jhu.edu/pub/24/article/969623" target="_blank"><div class="parallax" style="background-image:url('slider/oSjv4AY442N35NC.jpg')"><!--<img src="images/space.png" />--></div></a>
                
               <div class="slidecont"><div class="wrapper"><div class="caption"><div class="slide wrap"><p><h1>New in Language</h1>
Perspectives: &quot;Bringing signed languages into the study of regular sound change.&quot; Danny Law, Justin M. Power, David Quinto-Pozos. Volume 101.3 (2025). Also see 9 responses from various authors.<br />
<br />
<a href="https://muse.jhu.edu/pub/24/article/969623" target="_blank"><input type="button" value="Read Online" /></a><br />
<br />
&nbsp;</p></div></div></div></div>
               <!--<div class="caption"><p></p></div>
               </div>-->
               
                
                </li>
             
                <li><a href="https://phondata.org/index.php/pda/article/view/74" target="_blank"><div class="parallax" style="background-image:url('slider/aEu2XKJ87RY70XN.jpg')"><!--<img src="images/space.png" />--></div></a>
                
               <div class="slidecont"><div class="wrapper"><div class="caption"><div class="slide wrap"><p><h1>New in Phonological Data &amp; Analysis</h1>

<p>&quot;Gestalt Contours, Polarity and Construction-specific Phonology in Gaahmg<em>.</em>&quot; Jochen Trommer. Volume 7&nbsp;No. 3,&nbsp;2025<br />
<br />
<a href="https://phondata.org/index.php/pda/article/view/74" target="_blank"><input name="Read Online" type="button" value="Read Online" /></a></p>
</p></div></div></div></div>
               <!--<div class="caption"><p></p></div>
               </div>-->
               
                
                </li>
                    	</ul> 
        </div>

							</div><!--slider-bg-ends-->    
								
						</div><!--col-12-ends-->		
					</div><!--row-ends-->	
				</div><!--/slider-area-ends-->
			</section><!--end of slider-section--> 

			<section class="main-section">
				<div class="full-width-container">
					<div class="wrapper">
						<div class="row">
							<div class="col-sm-4">
								<div class="sportlight-item">
									<h3>Who We Are</h3>
<img alt="Light blue map of the world with dark blue dots locating all the geographic locations of the communities where the languages studied by LSA members are spoken. Dense areas of dots in North America, Central America, Carribean, north western South America, Europe, parts of Africa, throughout the Middle East and Indian subcontent, pacific archipelegos, Japen, and northern Australia" class="img-responsive" src="https://www.lsadc.org/content_images/Languages%20of%20the%20LSA%20380x265.jpg" style="width: 380px; height: 265px;" />
<div class="sportlight-content">
<p>The Linguistic Society of America (LSA), founded in 1924, is the leading U.S. professional organization dedicated to advancing the scientific study of language. We are teaching and research professors, data scientists, Natural Language Processing and Understanding experts, K-12 teachers, community language revitalization specialists, language documentarians, UX researchers, non-profit owners, translators, and software engineers.<br />
<br />
<br />
<br />
<a href="https://www.lsadc.org/who-we-are">LEARN MORE &gt;&gt;</a></p>
</div>

								</div>
							</div>
							<div class="col-sm-4">
								<div class="sportlight-item">
									<h3>Member Spotlight</h3>
<img alt="Thin man with glasses looking directly at camera with smile" src="https://www.lsadc.org/content_images/Jamaal_Muwwakkil-380x265.jpg" style="width: 380px; height: 265px;" />
<div class="sportlight-content">
<p><strong>Jamaal Muwwakkil<br />
University of Washington, Seattle</strong><br />
<br />
Hello LSA Community! I am fascinated by the role of language in identity formation, and use discourse analytic and ethnographic methods to research African American Language and Culture and Political Socialization. I love seeing how teaching on Black linguistic practices results in mediations of persistence and joy in the face of interpersonal and structural attacks.<br />
<br />
<br />
&nbsp;</p>

<p><a href="https://www.surveymonkey.com/r/2GBZ8W7" target="_blank">YOUR SPOTLIGHT &gt;&gt;</a></p>
</div>

								</div>
							</div>
							<div class="col-sm-4">
								<div class="sportlight-item">
									<h3>LSA News</h3>
<img alt="Close up image of the eyes and nose of a figure on an Alaskan totem pole." src="https://www.lsadc.org/content_images/Alaskan%20Native%20Language%20Center.png" style="width: 380px; height: 265px;" /><br />
<span style="font-size:16px;"></span>

<div class="sportlight-content">
<p><strong>The LSA Writes to Support&nbsp;the Alaskan Native Language Center</strong><br />
<br />
LSA President Alicia Beckford Wassink wrote to the Chancellor of the University of Alaska regarding ongoing threats to funding and operational support for the Alaskan Native Languages Center. The LSA is deeply committed to the vitality of Alaska's Indigenous languages and to the health of the Alaskan Native Language Center. In response, the Chancellor's office sent a <a href="https://www.uaf.edu/email/cornerstone/archives-institutional/2026/2026-03-19-uaf-is-committed-to-anlc.php">letter </a>that had been circulated previously.<br />
&nbsp;</p>

<p><a href="https://www.lsadc.org//Files/Advocacy/20260408%20Alaska%20Native%20Language%20Center%20-%20Letter%20from%20LSA%20president.pdf" target="_blank">LEARN MORE &gt;&gt;</a></p>
</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="wrapper">
					<div class="row">
						<div class="col-md-12">
							<div class="ad ad-banner"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 px-3">
							<div class="event-contain">
								<h2>Upcoming Events</h2>

	<div class=events>
		<ul>
			
						<li class=latest_event>
						
						<div class=event_date>
							<div class=day>11</div>
							<div class=month>May</div>
						</div>
						<div class=event_content>
							<h5><a href="ev_calendar_day.asp?date=5%2F11%2F26&eventid=144">Linguistics Programs and Departments Leadership Sync</a></h5>
							<p>
								12:00 PM to 1:00 PM EDT								
							</p>
						</div>
					</li>
					
						<li>
						
						<div class=event_date>
							<div class=day>14</div>
							<div class=month>May</div>
						</div>
						<div class=event_content>
							<h5><a href="ev_calendar_day.asp?date=5%2F14%2F26&eventid=151">The Afterlives of Linguistic Data: Future-making through restitution</a></h5>
							<p>
								12:00 PM to 1:00 PM EDT								
							</p>
						</div>
					</li>
					
						<li>
						
						<div class=event_date>
							<div class=day>20</div>
							<div class=month>May</div>
						</div>
						<div class=event_content>
							<h5><a href="ev_calendar_day.asp?date=5%2F20%2F26&eventid=152">2026 Bloomfield Lecture with Norbert Hornstein, author of The Merge Hypothesis: A Theory of Aspects </a></h5>
							<p>
								3:00 PM to 4:00 PM EDT								
							</p>
						</div>
					</li>
					
		</ul>
	</div>
	
								<span class="link"><a href="/calendar_list.asp">View All Events</a></span>
							</div>	
						</div>	
						<div class="col-sm-6 px-3">
							<div class="jobs">
								<h2>Job Board</h2>

<h4><a href="https://www.lsadc.org/jobs_addnew.asp">Post a new job listing</a></h4>

<br>

    <div class="jobContain">
        <ul class="jobHeadings">
        


			<li>
                <h3 class="jobTitle"><a href="jobs_listing.asp?id=141">Linguist&nbsp;</a></h3>
                <div class="jobCompany">
					<a href="jobs_listing.asp?id=141">Gap International&nbsp;</a>
				</div>
                <div class="jobLocation">
					<a href="jobs_listing.asp?id=141">Springfield,&nbsp; PA&nbsp;</a>
				</div>
                <div class="clear"></div>
            </li>
        
        


			<li>
                <h3 class="jobTitle"><a href="jobs_listing.asp?id=170">Visiting Lecturer in Linguistic Anthropology&nbsp;</a></h3>
                <div class="jobCompany">
					<a href="jobs_listing.asp?id=170">New York University Arts and Science&nbsp;</a>
				</div>
                <div class="jobLocation">
					<a href="jobs_listing.asp?id=170">New York,&nbsp; NY&nbsp;</a>
				</div>
                <div class="clear"></div>
            </li>
        
        
        </ul>

    </div>


								<span class="link"><a href="/jobs_search.asp">View All Jobs</a></span>
							</div> 
						</div>	
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="text-content">
								<h2 style="text-align: center;">2027&nbsp;Annual Meeting&nbsp; &nbsp;&nbsp;</h2>
<img alt=" 2027 LSA Annual Meeting" class="img-fluid" src="https://www.lsadc.org//Files/Events/AM2027/lsa-2027-save-the-date.jpg" style="width: 350px; height: 400px;" />
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="text-content">
								<h2 style="text-align: center;">SALT36</h2>

<div style="text-align: center;"><a href="https://www.lsadc.org/content.asp?contentid=141" target="_blank"><img alt="The 36th SALT will be hosted by the University of Beunos Aires, July 29-31, 2026" src="https://www.lsadc.org/content_images/Third Row Tiles (350 x 400 px).jpg" style="width: 350px; height: 400px;" /></a></div>

							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="text-content">
								<h2 style="text-align: center;">CoLang 2026</h2>

<p style="text-align: center;"><a href="https://www.lsadc.org/content.asp?contentid=140"><img alt="CoLang 2026 Informational Graphic " src="https://www.lsadc.org/content_images/CoLang/CoLang%202026%20(3).png" style="width: 350px; height: 400px;" /></a></p>

							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-md-12">
							<div class="sponsor">
								
  <div class="sponsor-logo">
    <ul class="slide-logo">
      
    </ul>
  </div>
  
							</div>
						</div><!--end of col-12-->	
					</div>	
				</div><!--end of wrapper-->	
			</section>
            <div class="clear"></div>
                    
			<footer>
				<div class="footer-top">
					<div class="wrapper">
						<div class="row">
							<div class="col-md-3">
								<div class="footer-logo-box">
									<img src="images/theme/whitelogo.png" alt="logo"> 
								</div>
							</div>
							<div class="col-md-3">
								<div class="footer-address">
									<p><br />
201 E. Main Street, Suite 810<br />
Lexington, KY 40507<br />
<br />
202-835-1714<br />
<a href="mailto:lsa@lsadc.org">lsa@lsadc.org</a></p>

								</div>
							</div>
							<div class="col-md-3">
								<div class="footer-link">
									<ul>
	<li><a href="http://lsa.membershipsoftware.org/content.asp?admin=Y&amp;contentid=327">Privacy Policy</a></li>
</ul>

								</div>
							</div>
							<div class="col-md-3">
								<div class="social-links"><ul>
	<li><a href="https://twitter.com/LingSocAm"><span class="fa-brands fa-x-twitter"></span></a></li>
	<li><a href="https://www.linkedin.com/company/linguistic-society-of-america"><span class="fa-brands fa-linkedin-in"></span></a></li>
</ul>
</div>
							</div><!--end of col-5-->
						</div><!--end of row-->		
					</div><!--end of wrapper-->  
				</div>
				<div class="footer-bottom">
					<div class="wrapper">
						<div class="row">
							<div class="col-sm-10">
								<div class="copy">Copyright&nbsp;&copy;&nbsp;2026&nbsp;Linguistic Society of America</div>
							</div>
							<div class="col-sm-2">
								<div itemprop="provider" itemscope="" itemtype="https://schema.org/Organization">
									 <div class="footer-logo"><span itemprop="name">Naylor Association Management Software</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
                    
				
		</div><!--end of container-->
		
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.flexslider.js"></script><!--flexslider 1.8 -->
    <script src="/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/js/doubletaptogo.min.js"></script>
    <script src="/js/search-popbox.js"></script>
    <script src="slick/slick.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
            	$('.flexslider').flexslider();
                $('.dropdown-toggle').dropdownHover();
                $( 'ul.nav li:has(ul)' ).doubleTapToGo();
         
                 $('.slide-logo').slick({
                     infinite: true,
                     autoplay: true,
                     autoplaySpeed: 7000,
                     arrows: true,
                     slidesToShow: 4,
                     slidesToScroll: 1,
                     dots: false,
                     responsive: [
                     {
                       breakpoint: 980,
                       settings: {
                         slidesToShow: 3,
                         slidesToScroll: 1
                       }
                     },
                     {
                       breakpoint: 640,
                       settings: {
                         slidesToShow: 1,
                         slidesToScroll: 1
                       }
                     }

                    ]
             });
          });
    	</script>       

  </body>

</html>
