<!DOCTYPE html>
<!--[if lt IE 7]> <html lang='en' class='no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>    <html lang='en' class='no-js lt-ie10 lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>    <html lang='en' class='no-js lt-ie10 lt-ie9'> <![endif]-->
<!--[if IE 9]>    <html lang='en' class='no-js lt-ie10'> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang='en' class='no-js'> <!--<![endif]-->
<head>
<script src="https://www.google.com/recaptcha/enterprise.js?render=6LdqSIwsAAAAAMaqy5uLiYS-EPIhRnFwvbhTZS9y"></script>
<meta charset='utf-8'>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta content='The Journal of Clinical Investigation' name='AUTHOR'>
<!-- /Set the viewport width to device width for mobile -->
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<link href='/rss' rel='alternate' title='JCI New Article RSS' type='application/rss+xml'>
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="6BcxEAOAQYN7l5i35KabqDo-_Q3E4cDVblWpU2W9Qo3E312-Sb__OMFGWhpiqoNsdbyfdASJbzWVugtvt9GYDg" />
<!-- / = favicon_link_tag favicon_filename -->
<title>
Page not found
</title>

<!--[if gt IE 8]><!--><link rel="stylesheet" href="/assets/application-4e3473ed7442aa1dc35d11f58ed4edfbd690fa57a3eb3a1daca0cd68dc7fb1e0.css" media="all" /><!--<![endif]-->
<!--[if (lt IE 9)]>
<link rel="stylesheet" href="/assets/ie8/application-c9c1df9dc6f969fb6db3e6e1316b9ac163cdd7a9a2bd67746820c5d31a80258f.css" media="all" />
<script src="/assets/ie8/ie8-head-e4cc6664a4e806f330a789c9756cfe50f1bb936ea97fe6e2dde7db04b3daa038.js"></script>
<![endif]-->

<style>
  @font-face {
    font-family: "klavika-bold";
    src: url("//dm5migu4zj3pb.cloudfront.net/fonts/klavika/eot/KlavikaWebBasicBold.eot");
    src:
      url("//dm5migu4zj3pb.cloudfront.net/fonts/klavika/eot/KlavikaWebBasicBold.eot?#iefix") format("embedded-opentype"),
      url("//dm5migu4zj3pb.cloudfront.net/fonts/klavika/woff/KlavikaWebBasicBold.woff") format("woff");
  }
  @font-face {
    font-family: "klavika-regular";
    src: url("//dm5migu4zj3pb.cloudfront.net/fonts/klavika/eot/KlavikaWebBasicRegular.eot");
    src:
      url("//dm5migu4zj3pb.cloudfront.net/fonts/klavika/eot/KlavikaWebBasicRegular.eot?#iefix") format("embedded-opentype"),
      url("//dm5migu4zj3pb.cloudfront.net/fonts/klavika/woff/KlavikaWebBasicRegular.woff") format("woff");
  }
  @font-face {
    font-family: "foundation-icons";
    src: url("//dm5migu4zj3pb.cloudfront.net/fonts/foundation-icons-3/foundation-icons.eot");
    src: url("//dm5migu4zj3pb.cloudfront.net/fonts/foundation-icons-3/foundation-icons.eot?#iefix") format("embedded-opentype"),
         url("//dm5migu4zj3pb.cloudfront.net/fonts/foundation-icons-3/foundation-icons.woff") format("woff"),
         url("//dm5migu4zj3pb.cloudfront.net/fonts/foundation-icons-3/foundation-icons.ttf") format("truetype"),
         url("//dm5migu4zj3pb.cloudfront.net/fonts/foundation-icons-3/foundation-icons.svg#fontcustom") format("svg");
    font-weight: normal;
    font-style: normal;
  }
</style>

<script>
  //Google Tag Manager Data Layer
  //Values must be set before GTM tags are triggered
  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    'siteName': 'content-jci',
    'ipAddress': '182.255.7.34',
    'environment': 'production',
  });
</script>
<script src="/assets/vendor/modernizr-2f68aa04c7424c280c5bc9db8b68f7f6ff70bcd38254c5b89383eac8e89b1781.js"></script>
<script type='text/javascript'>
	var googletag = googletag || {};
	googletag.cmd = googletag.cmd || [];
	(function () {
		var gads = document.createElement('script');
		gads.async = true;
		gads.type = 'text/javascript';
		var useSSL = 'https:' == document.location.protocol;
		gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
		var node = document.getElementsByTagName('script')[0];
		node.parentNode.insertBefore(gads, node);
	})();

	googletag.cmd.push(function () {

		// NOTE: This script manages google ads, more info at doc/GoogleAds.md

		var mapping = googletag.sizeMapping().addSize([800, 600], [300, 250]).addSize([640, 480], [260, 217]).build();
		var mapping2 = googletag.sizeMapping()
		   .addSize([1920, 1080], [728, 90])//All desktop like resolutions are set to 728x90
		   .addSize([800, 600], [728, 90])
		   .addSize([640, 480], [728, 90])
		   .addSize([0, 0], [320, 50]) //Smaller than 640x480 screens
		   .build();
			
		googletag.defineSlot('/82117132/jci-homepage-med-rectangle-left-col-top', [[300, 250],[260, 217]], 'jci-homepage-med-rectangle-left-col-top').defineSizeMapping(mapping).addService(googletag.pubads());

		googletag.defineSlot('/82117132/jci-article-interior-leaderboard-top', [[728, 90],[320, 50]], 'jci-article-interior-leaderboard-top').defineSizeMapping(mapping2).addService(googletag.pubads());
		googletag.defineSlot('/82117132/jci-article-interior-leaderboard-bottom', [728, 90], 'jci-article-interior-leaderboard-bottom').addService(googletag.pubads());
		googletag.defineSlot('/82117132/jci-article-interior-skyscraper-right-col', [160, 600], 'jci-article-interior-skyscraper-right-col').addService(googletag.pubads());
		googletag.defineSlot('/82117132/jci-interior-skyscraper-right-col', [160, 600], 'jci-interior-skyscraper-right-col').addService(googletag.pubads());

		// collapseEmptyDivs requires all slots be defined above.
		googletag.pubads().collapseEmptyDivs(true);
		googletag.enableServices();
	});
</script>

</head>

<body class='' id='errors_controller'>
<div class='row centered'>
<noscript> <style type="text/css"> .pagecontainer {display:none;} </style> <div style="background-color:red; color: white; padding: 16px;" class="noscriptmsg"> You don't have javascript enabled. Please enable javascript for full site funcionality. </div> </noscript>
</div>
<div class='off-canvas-wrap' data-offcanvas=''>
<div class='inner-wrap'>
<div class='fixed show-for-large-up'>
<div class='row menu-align' id='logo-bar'>
<div class='small-12 columns'>
<div class='cross-journal-container'>
Go to
<a href='http://insight.jci.org'>JCI Insight</a>
</div>
<a href="/"><img src="/assets/common/jci-spelled-out-white-on-transparent.20160208-958617d51a205b239bcef41eae5703962aee0ae2fcc9fbda0237e635a09ac7f3.png" /></a>
</div>
</div>

<div class='row menu-align' id='journal-bar'>
<div class='small-12 columns'>
<ul class='inline-list'>
<li><a href="/kiosks/about">About</a></li>
<li><a href="/kiosks/editorial-board">Editors</a></li>
<li><a href="/kiosks/about/consulting-editors">Consulting Editors</a></li>
<li><a href="/kiosks/authors">For authors</a></li>
<li><a href="/kiosks/ethics">Publication ethics</a></li>
<li><a href="/kiosks/connect">Publication alerts by email</a></li>
<li><a href="/kiosks/advertise">Advertising</a></li>
<li><a href="https://the-asci.org/controllers/asci/JobBoard.php">Job board</a></li>
<li><a href="/kiosks/contact">Contact</a></li>

</ul>
</div>
</div>

<div id='content-bar'>
<nav class='top-bar' data-topbar=''>
<section class='top-bar-section'>
<ul class='left'>
<li class='not-click'>
<a href="/tags/141">Clinical Research and Public Health</a>
</li>
<li class='not-click'>
<a id="topmenu_current_issue" href="/current">Current issue</a>
</li>
<li class='not-click'>
<a href="/archive">Past issues</a>
</li>
<li class='has-dropdown not-click'>
<a>By specialty</a>
<ul class='dropdown'>
<li><a href="/tags/118">COVID-19</a></li>
<li><a href="/tags/15">Cardiology</a></li>
<li><a href="/tags/21">Gastroenterology</a></li>
<li><a href="/tags/25">Immunology</a></li>
<li><a href="/tags/28">Metabolism</a></li>
<li><a href="/tags/31">Nephrology</a></li>
<li><a href="/tags/32">Neuroscience</a></li>
<li><a href="/tags/33">Oncology</a></li>
<li><a href="/tags/36">Pulmonology</a></li>
<li><a href="/tags/42">Vascular biology</a></li>
<li><a href="/specialties">All ...</a></li>
</ul>
</li>
<li class='has-dropdown not-click'>
<a href="/videos">Videos</a>
<ul class='dropdown'>
<li><a href="/videos/asci_milestone_awards">ASCI Milestone Awards</a></li>
<li><a href="/videos/video_abstracts">Video Abstracts</a></li>
<li><a href="/videos/cgms">Conversations with Giants in Medicine</a></li>
</ul>
</li>
<li class='has-dropdown not-click'>
<a href="/tags/reviews">Reviews</a>
<ul class='dropdown'>
<li>
<label>Reviews</label>
</li>
<li><a href="/tags/reviews">View all reviews ...</a></li>
<li class='divider'></li>
<li>
<label>Review Series</label>
</li>
<li><a href="/review_series/135">Neurodegeneration (Mar 2026)</a></li>
<li><a href="/review_series/134">Clinical innovation and scientific progress in GLP-1 medicine (Nov 2025)</a></li>
<li><a href="/review_series/133">Pancreatic Cancer (Jul 2025)</a></li>
<li><a href="/review_series/132">Complement Biology and Therapeutics (May 2025)</a></li>
<li><a href="/review_series/131">Evolving insights into MASLD and MASH pathogenesis and treatment (Apr 2025)</a></li>
<li><a href="/review_series/130">Microbiome in Health and Disease (Feb 2025)</a></li>
<li><a href="/review_series/127">Substance Use Disorders (Oct 2024)</a></li>
<li>
<a href="/review_series">View all review series ...</a>
</li>
</ul>
</li>
<li class='not-click'>
<a href="/tags/111">Viewpoint</a>
</li>
<li class='has-dropdown not-click'>
<a>Collections</a>
<ul class='dropdown'>
<li><a href="/in-press-preview">In-Press Preview</a></li>
<li><a href="/tags/141">Clinical Research and Public Health</a></li>
<li><a href="/tags/127">Research Letters</a></li>
<li><a href="/tags/75">Letters to the Editor</a></li>
<li><a href="/tags/56">Editorials</a></li>
<li><a href="/tags/44">Commentaries</a></li>
<li><a href="/tags/123">Editor&#39;s notes</a></li>
<li><a href="/tags/2">Reviews</a></li>
<li><a href="/tags/111">Viewpoints</a></li>
<li><a href="/collections/topic/jci-100th-anniversary">100th anniversary</a></li>
<li><a href="/top_articles">Top read articles</a></li>

</ul>
</li>
</ul>
<ul class='right'>
<li class='has-form'>
<div id='search-area'>
<form action="/search/results" accept-charset="UTF-8" method="get"><input type="text" name="q" id="q" value="" placeholder="Search the JCI" />
<input type="image" src="/assets/search-black-ba9b554d6f74b1c93d6e6ab71d1c9830c18a20fc6b7e72393f136f5d875141ac.png" value="" />
<input type="hidden" id="recaptcha-token-SEARCH_BAR" name="g-recaptcha-response" value="empty"/>
<script type="text/javascript">
		grecaptcha.enterprise.ready(async () => {
			const token = await grecaptcha.enterprise.execute('6LdqSIwsAAAAAMaqy5uLiYS-EPIhRnFwvbhTZS9y', {action: 'SEARCH_BAR'});
			document.getElementById("recaptcha-token-SEARCH_BAR").value = token;
		});
</script>

</form></div>
</li>
</ul>
</section>
</nav>
</div>

</div>
<!--[if gt IE 8]><!--><nav class='tab-bar hide-for-large-up fixed' id='small-navbar'>
<section class='left-small'>
<a class='left-off-canvas-toggle menu-icon'>
<span></span>
</a>
</section>
<section class='middle tab-bar-section'>
<h1 class='title'><a href="/"><img width="40" src="/assets/common/jci-only-white-6c989e8f9744a714482158b82319d50aa8437aa4c8524c4f3dcf8450299cd4b7.png" /></a></h1>
</section>
</nav>
<aside class='left-off-canvas-menu'>
<ul class='off-canvas-list'>
<li>
<label>The Journal of Clinical Investigation</label>
</li>
<li><form action="/search/results" accept-charset="UTF-8" method="get"><div class='row collapse' id='search-div-offcanvas'>
<div class='small-8 columns'>
<input name='q' placeholder='Search the JCI' type='text'>
</div>
<div class='small-4 columns'>
<input type="image" src="/assets/common/search-white-530f3f95b9080d73eba51eaeffdf1a3922af42ccc277a2d1d987b8aa24423c96.png" id="search-icon-offcanvas" />
</div>
</div>
</form></li>
<li><a id="offcanvas_current_issue" href="/current">Current issue</a></li>
<li><a href="/archive">Past issues</a></li>
<li><a href="/specialties">Specialties</a></li>
<li><a href="/tags/reviews">Reviews</a></li>
<li><a href="/review_series">Review series</a></li>
<li>
<label>Videos</label>
</li>
<li><a href="/videos/asci_milestone_awards">ASCI Milestone Awards</a></li>
<li><a href="/videos/video_abstracts">Video Abstracts</a></li>
<li><a href="/videos/cgms">Conversations with Giants in Medicine</a></li>
<li>
<label>Collections</label>
</li>
<li><a href="/in-press-preview">In-Press Preview</a></li>
<li><a href="/tags/141">Clinical Research and Public Health</a></li>
<li><a href="/tags/127">Research Letters</a></li>
<li><a href="/tags/75">Letters to the Editor</a></li>
<li><a href="/tags/56">Editorials</a></li>
<li><a href="/tags/44">Commentaries</a></li>
<li><a href="/tags/123">Editor&#39;s notes</a></li>
<li><a href="/tags/2">Reviews</a></li>
<li><a href="/tags/111">Viewpoints</a></li>
<li><a href="/collections/topic/jci-100th-anniversary">100th anniversary</a></li>
<li><a href="/top_articles">Top read articles</a></li>

<li>
<label>Journal Details</label>
</li>
<li><a href="/kiosks/about">About</a></li>
<li><a href="/kiosks/editorial-board">Editors</a></li>
<li><a href="/kiosks/about/consulting-editors">Consulting Editors</a></li>
<li><a href="/kiosks/authors">For authors</a></li>
<li><a href="/kiosks/ethics">Publication ethics</a></li>
<li><a href="/kiosks/connect">Publication alerts by email</a></li>
<li><a href="/kiosks/advertise">Advertising</a></li>
<li><a href="https://the-asci.org/controllers/asci/JobBoard.php">Job board</a></li>
<li><a href="/kiosks/contact">Contact</a></li>

</ul>
</aside>
<a class='exit-off-canvas'></a><!--<![endif]-->



<!--[if (lt IE 9)]>
<div class='alert-box info' data-alert=''>
Please note that the JCI no longer supports your version of Internet Explorer. We recommend upgrading to the latest version of
<a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer</a>,
<a href="https://www.google.com/chrome/browser/desktop/index.html">Google Chrome</a>, or
<a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>
<a class='close' href='#'>&times;</a>
</div>
<![endif]-->

<div class='row content-wrapper'>
<div class='small-12 columns'>
<div class='menu-align'>
<div class='row'>
<div class='large-10 medium-9 small-12 columns'>

<br>
<br>
<br>
<br>
<div class='row centered'>
<div class='small-12 columns'>
<h1>The page you requested couldn't be found.</h1>
</div>
</div>
<br>
<br>
<br>
<br>

</div>
<div class='large-2 medium-3 hide-for-small columns' style='padding: 12px 9px 12px 9px;'>
<div style='width:100%; text-align: center;'>
<div id='jci-interior-skyscraper-right-col'>
<span class='secondary label'>Advertisement</span>
<script>
  try {
    googletag.cmd.push(function () {
      googletag.display('jci-interior-skyscraper-right-col');
    });
  } catch(e){}
</script>
</div>
</div>

</div>
</div>
</div>

</div>
</div>
</div>
<div id='footer'>
<div class='row panel-padding'>
<div class='small-6 columns'>
<div id='social-links'>
<a onclick="trackOutboundLink(&#39;/twitter?ref=footer&#39;);" href="/twitter"><img title="Twitter" src="/assets/social/twitter-round-blue-78025a92064e3594e44e4ccf5446aefeafba696cd3c8e4a7be1850c7c9f62aba.png" /></a>
<a onclick="trackOutboundLink(&#39;/facebook?ref=footer&#39;);" href="/facebook"><img title="Facebook" src="/assets/social/facebook-round-blue-2787910d46dcbdbee4bd34030fee044e5a77cfda2221af9191d437b2f5fadeb1.png" /></a>
<a href="/rss"><img title="RSS" src="/assets/social/rss-round-color-6f5fa8e93dc066ee4923a36ba6a7cb97d53c5b77de78a2c7b2a721adc603f342.png" /></a>
</div>

<br>
Copyright &#169; 2026
<a href="http://www.the-asci.org">American Society for Clinical Investigation</a>
<br>
ISSN: 0021-9738 (print), 1558-8238 (online)
</div>
<div class='small-6 columns'>
<div class='row'>
<div class='small-12 columns'>
<h4 class='notices-signup'>Sign up for email alerts</h4>
<form action='https://notices.jci.org/subscribers/new' method='get'>
<input name='utm_source' type='hidden' value='jci'>
<input name='utm_medium' type='hidden' value='web'>
<input name='utm_campaign' type='hidden' value='email_signup'>
<input name='utm_content' type='hidden' value='footer'>
<div class='row'>
<div class='small-12 medium-9 columns'>
<input name='email_address' placeholder='Your email address' required type='text'>
</div>
<div class='small-12 medium-3 columns'>
<input class='button tiny orange' type='submit' value='Sign up'>
</div>
</div>
</form>
</div>
</div>

</div>
</div>
</div>

</div>
<!--[if gt IE 8]><!--><script src="/assets/application-27f18b5fe3b7302e5b3e3c6d7cf9bb3f54759fad32679209f5aef429b89f3aef.js"></script><!--<![endif]-->
<!--[if (lt IE 9)]>
<script src="/assets/ie8/application-8c033a599105d459c98ea08bf9ef15e25d3fed26e913e4a8de4a5101d04025fd.js"></script>
<![endif]-->
<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4d8389db4b0bb592" async="async"></script>
<script src="//d1bxh8uas1mnw7.cloudfront.net/assets/embed.js" async="async"></script>


<!--[if lt IE 9]>
<script src="/assets/ie8/ie8-1af1fadfa0df4a7f5fcf8fc444742398e0579e1d8aede97903d74bad8167eb5f.js"></script>
<![endif]-->

</body>
</html>
