
<!DOCTYPE html>
<html lang="en">
<head><!-- inj yui3-seed: --><script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/yui/3.6.0/yui/yui-min.js'></script><script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script><!-- Adobe Analytics --><script type='text/javascript' src='https://assets.adobedtm.com/4a848ae9611a/d0e96722185b/launch-d525bb0064d8.min.js'></script><script type='text/javascript' src=/assets/nr_browser_production.js></script>

<!-- def.1 -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>
Association for Information Systems (AIS) eLibrary
</title>
 



<!-- sh.1 -->
<link rel="stylesheet" href="/ir-style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/ir-custom.css" type="text/css" media="screen">
<link rel="stylesheet" href="/ir-print.css" type="text/css" media="print">
<link rel="stylesheet" href="/ir-local.css" type="text/css" media="screen">
<link rel="alternate" type="application/rss+xml" title="Site Feed" href="/recent.rss">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<!--[if IE]>
<link rel="stylesheet" href="/ir-ie.css" type="text/css" media="screen">
<![endif]-->

<!-- JS -->
<script type="text/javascript" src="/assets/jsUtilities.js"></script>
<script type="text/javascript" src="/assets/footnoteLinks.js"></script>

<!-- end sh.1 -->




<script type="text/javascript">var pageData = {"page":{"environment":"prod","productName":"bpdg","language":"en","name":"site:404","businessUnit":"els:rp:st"},"visitor":{}};</script>

</head>
<body >
<!-- FILE /srv/sequoia/main/data/aisel.aisnet.org/assets/header.pregen --><!-- FILE: /srv/sequoia/main/data/assets/site/mobile_nav.inc --><!--[if !IE]>-->
<script src="/assets/scripts/dc-mobile/dc-responsive-nav.js"></script>

<header id="mobile-nav" class="nav-down device-fixed-height" style="visibility: hidden;">
  
  
  <nav class="nav-collapse">
    <ul>
      <li class="menu-item active device-fixed-width"><a href="https://aisel.aisnet.org" title="Home" data-scroll >Home</a></li>
      <li class="menu-item device-fixed-width"><a href="https://aisel.aisnet.org/do/search/advanced/" title="Search" data-scroll ><i class="icon-search"></i> Search</a></li>
      <li class="menu-item device-fixed-width"><a href="https://aisel.aisnet.org/communities.html" title="Browse" data-scroll >Browse All Content</a></li>
      <li class="menu-item device-fixed-width"><a href="/cgi/myaccount.cgi?context=" title="My Account" data-scroll >My Account</a></li>
      <li class="menu-item device-fixed-width"><a href="https://aisel.aisnet.org/about.html" title="About" data-scroll >About</a></li>
      <li class="menu-item device-fixed-width"><a href="https://network.bepress.com" title="Digital Commons Network" data-scroll ><img width="16" height="16" alt="DC Network" style="vertical-align:top;" src="/assets/md5images/8e240588cf8cd3a028768d4294acd7d3.png"> Digital Commons Network™</a></li>
    </ul>
  </nav>
</header>

<script src="/assets/scripts/dc-mobile/dc-mobile-nav.js"></script>
<!--<![endif]-->
<!-- FILE: /srv/sequoia/main/data/aisel.aisnet.org/assets/header.pregen (cont) -->



<div id="ais">
	<div id="container">
		<a href="#main" class="skiplink" accesskey="2" >Skip to main content</a>

					
			<div id="header" role="banner">
				<a href="https://aisel.aisnet.org" id="banner_link" title="AIS Electronic Library (AISeL)" >
					<img id="banner_image" alt="AIS Electronic Library (AISeL)" width='1960' height='276' src="/assets/md5images/280c274de42a34f3263149d5e175f83e.png">
				</a>	
				
					<a href="http://ais.site-ym.com/" id="logo_link" title="Association for Information Systems" >
						<img id="logo_image" alt="Association for Information Systems" width='362' height='140' src="/assets/md5images/6979cf156159b3483ddf6e0614ab67bb.png">
					</a>	
				
			</div>
					
			<div id="navigation">
				<!-- FILE: /srv/sequoia/main/data/aisel.aisnet.org/assets/ir_navigation.inc -->

<div id="tabs" role="navigation" aria-label="Main"><ul><li id="tabfour"><a href="https://aisel.aisnet.org" title="eLibrary Home" ><span>eLibrary Home</span></a></li><li id="tabthree"><a href="http://ais.site-ym.com/" title="AIS Home" ><span>AIS Home</span></a></li><li id="tabtwo"><a href="https://aisel.aisnet.org/cgi/myaccount.cgi?context=" title="eLibrary Login" ><span>eLibrary Login</span></a></li><li id="tabone"><a href="https://aisnet.org/page/MembershipBenefits" title="Join AIS" ><span>Join AIS</span></a></li></ul></div>

<!-- FILE: /srv/sequoia/main/data/aisel.aisnet.org/assets/header.pregen (cont) -->
			</div>
		

		<div id="wrapper">
			<div id="content">
				<div id="main" class="text" role="main">
 



<p>There has been an error processing your request. The page you have
requested cannot be found or has been moved to another location.</p>

<p>Please return to the <a href="https://aisel.aisnet.org/" >home page</a>, or conduct a search
and/or browse for content using the controls on the right hand side.</p>

<p>If you have any questions, please contact us by emailing our <script type="text/javascript">
    //<![CDATA[
        document.write("<a href='mailto:" + "elibrary" + "@" + "aisnet.org" + "'>" + "elibrary" + "@" + "aisnet.org" + "<\/a>")
    //]]>
</script>.</p>

<p>Best Regards,<br>
AIS eLibrary Task Force</p>

<!-- FILE /srv/sequoia/main/data/assets/site/footer.pregen --></div>
	<div class="verticalalign">&nbsp;</div>
	<div class="clear">&nbsp;</div>

</div>

	<div id="sidebar" role="complementary">
	<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_7_8.inc -->

	<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_sort_sba.inc --><!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_custom_upper_7_8.inc -->

<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_sort_sba.inc (cont) -->
<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_search_7_8.inc --><h2>Search</h2>


	
<form method='get' action='https://aisel.aisnet.org/do/search/' id="sidebar-search">
	<label for="search" accesskey="4">
		Enter search terms:
	</label>
		<div>
			<span class="border">
				<input type="text" name='q' class="search" id="search">
			</span> 
			<input type="submit" value="Search" class="searchbutton" style="font-size:11px;">
		</div>
	<label for="context">
		Select context to search:
	</label> 
		<div>
			<span class="border">
				<select name="fq" id="context">
					
					
					
					
					<option value='virtual_ancestor_link:"https://aisel.aisnet.org"'>in this repository</option>
					<option value='virtual_ancestor_link:"http:/"'>across all repositories</option>
				</select>
			</span>
		</div>
</form>

<p class="advanced">
	
	
		<a href="https://aisel.aisnet.org/do/search/advanced/?fq=virtual_ancestor_link:%22https://aisel.aisnet.org%22" >
			Advanced Search
		</a>
	
</p>
<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_sort_sba.inc (cont) -->
<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_notify_7_8.inc -->
	<ul id="side-notify">
		<li class="notify">
			<a href="https://aisel.aisnet.org/announcements.html" title="Email or RSS Notifications" >
				Notify me via email or <acronym title="Really Simple Syndication">RSS</acronym>
			</a>
		</li>
	</ul>





<!-- FILE: /srv/sequoia/main/data/assets/site/urc_badge.inc -->






<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_notify_7_8.inc (cont) -->

<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_sort_sba.inc (cont) -->
<!-- FILE: /srv/sequoia/main/data/aisel.aisnet.org/assets/ir_sidebar_custom_middle_7_8.inc -->	<!-- For custom sidebar content, delete the <magic ignore> tags around the <div> below 
		as well as these instructions.  Use the example formatting below to keep styling consistent. -->

<div id="sb-custom-middle">
	<h2 class="sb-custom-title">Links</h2>
		<ul class="sb-custom-ul">
<li><a href="https://aisnet.org/page/SharedValuesforDigitalization" >AIS Shared Values of Digitalization</a></li>
<li><a href="https://aisnet.org/page/PoliciesGuidelines" >Research Code of Conduct</a></li>
					<li><a href="https://aisnet.org/page/MemberCodeOfConduct" >Code of Ethics & Professional Conduct</a></li>
<li><a href="https://aisnet.org/page/%20EventCodeofConduct" > Code Conduct for AIS Meetings</a></li>					
		            <li><a href="https://aisel.aisnet.org/discussion_code_conduct.html" >Discussion Thread Code of Conduct</a></li>
					<li><a href="https://aisel.aisnet.org/ais_elibrary_termsofuse.pdf" > Terms of Use</a></li>
		            
			<li class="sub-custom-li">
			
			<li class="sb-custom-li">
				<a href="https://aisnet.org/page/MembershipBenefits" >Join AIS</a>
			</li>
			<li class="sb-custom-li">
				<script type="text/javascript">
    //<![CDATA[
        document.write("<a href='mailto:" + "eLibrary" + "@" + "aisnet.org" + "'>" + "Contact AIS" + "<\/a>")
    //]]>
</script>
			</li>
		</ul>
</div>



<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_sort_sba.inc (cont) -->
<!-- FILE: /srv/sequoia/main/data/aisel.aisnet.org/assets/ir_sidebar_browse.inc --><h2>Browse</h2>
<ul id="side-browse">


<li class="collections"><a href="https://aisel.aisnet.org/communities.html" title="Browse by All Content" >All Content</a></li>
<li class="author"><a href="https://aisel.aisnet.org/authors.html" title="Browse by Author" >Authors</a></li>
<li><a href="https://aisel.aisnet.org/jais" title="JAIS" >JAIS</a></li>
<li><a href="https://aisel.aisnet.org/cais" title="CAIS" >CAIS</a></li>
<li><a href="https://aisel.aisnet.org/trr" title="TRR" >TRR</a></li>
<li><a href="https://aisel.aisnet.org/thci" title="THCI" >THCI</a></li>
<li><a href="https://aisel.aisnet.org/misqe" title="MISQE" >MISQE</a></li>
<li><a href="https://aisel.aisnet.org/pajais" title="PAJAIS" >PAJAIS</a></li>


</ul>



<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_sort_sba.inc (cont) -->
<!-- FILE: /srv/sequoia/main/data/aisel.aisnet.org/assets/ir_sidebar_author_7_8.inc --><h2>Author Corner</h2>




	<ul id="side-author">
		<li class="faq">
			<a href="https://aisel.aisnet.org/faq.html" title="eLibrary FAQ" >
				eLibrary FAQ
			</a>
		</li>
<li><a href="https://aisel.aisnet.org/cais/authorvideos.html" >Submit an Author-Video Here</a></li>
		<li class="submit">
			<a href="https://aisel.aisnet.org/submit_research.html" title="" >
				
			</a>
		</li>
	</ul>




<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_sort_sba.inc (cont) -->
<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_custom_lower_7_8.inc --><!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_homepage_links_7_8.inc -->

<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_custom_lower_7_8.inc (cont) -->
	



<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_sort_sba.inc (cont) -->
<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_sw_links_7_8.inc -->
	



	<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_sort_sba.inc (cont) -->

<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_geolocate.inc --><!-- FILE: /srv/sequoia/main/data/assets/site/ir_geolocate_enabled_and_displayed.inc -->

<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_geolocate.inc (cont) -->

<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_sort_sba.inc (cont) -->
<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_custom_lowest_7_8.inc -->


<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_sort_sba.inc (cont) -->
<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_7_8.inc (cont) -->

		




<!-- FILE: /srv/sequoia/main/data/assets/site/portal_badge.inc -->











<!-- FILE: /srv/sequoia/main/data/assets/site/ir_sidebar_7_8.inc (cont) -->
<!-- FILE: /srv/sequoia/main/data/assets/site/footer.pregen (cont) -->
	<div class="verticalalign">&nbsp;</div>
	</div>

</div>

<!-- FILE: /srv/sequoia/main/data/assets/site/ir_footer_content.inc --><div id="footer" role="contentinfo">
	
	
	<!-- FILE: /srv/sequoia/main/data/assets/site/ir_bepress_logo.inc --><div id="bepress">

<a href="https://www.elsevier.com/solutions/digital-commons" title="Elsevier - Digital Commons" >
	<em>Elsevier - Digital Commons</em>
</a>

</div>
<!-- FILE: /srv/sequoia/main/data/assets/site/ir_footer_content.inc (cont) -->
	<p>
		<a href="https://aisel.aisnet.org" title="Home page" accesskey="1" >Home</a> | 
		<a href="https://aisel.aisnet.org/about.html" title="About" >About</a> | 
		<a href="https://aisel.aisnet.org/faq.html" title="FAQ" >FAQ</a> | 
		<a href="/cgi/myaccount.cgi?context=" title="My Account Page" accesskey="3" >My Account</a> | 
		<a href="https://aisel.aisnet.org/accessibility.html" title="Accessibility Statement" accesskey="0" >Accessibility Statement</a>
	</p>
	<p>
	
	
		<a class="secondary-link" href="https://www.elsevier.com/legal/privacy-policy" title="Privacy Policy" >Privacy</a>
	
		<a class="secondary-link" href="https://www.elsevier.com/legal/elsevier-website-terms-and-conditions" title="Copyright Policy" >Copyright</a>	
	</p> 
	
</div>

<!-- FILE: /srv/sequoia/main/data/assets/site/footer.pregen (cont) -->

</div>
</div>

<!-- FILE: /srv/sequoia/main/data/aisel.aisnet.org/assets/ir_analytics.inc --><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5499681-7', 'auto');
  ga('create', 'UA-19199428-1', 'auto', {'name': 'newTracker'});  // Admin tracker.

  ga('send', 'pageview');
  ga('newTracker.send', 'pageview'); // Send page view for admin tracker.


</script><!-- FILE: /srv/sequoia/main/data/assets/site/footer.pregen (cont) -->

<script type='text/javascript' src='/assets/scripts/bpbootstrap-20160726.pack.js'></script><script type='text/javascript'>BPBootstrap.init({appendCookie:''})</script></body></html>
