<!DOCTYPE html>
<html>
<head>
	<title>Statistics Poland</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="GUS" />
	<base href="http://stat.gov.pl/szablony/404/" />
	<link href="style.css" rel="stylesheet" type="text/css" />
	<link href="favicon.ico" rel="SHORTCUT ICON" />
	<meta http-equiv="refresh" content="0; url=http://stat.gov.pl">
</head>

<body>

</body>
</html>