<!doctype html>
<html lang="en-gb">
	<head>
		<meta charset="utf-8" />

		<link rel="apple-touch-icon" sizes="180x180" href="https://buy.nameshift.com/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="https://buy.nameshift.com/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="https://buy.nameshift.com/favicon-16x16.png" />
		<link rel="manifest" href="https://buy.nameshift.com/site.webmanifest" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="https://buy.nameshift.com/_app/immutable/entry/start.NNwTbe2u.js">
		<link rel="modulepreload" href="https://buy.nameshift.com/_app/immutable/chunks/fppvV0cQ.js">
		<link rel="modulepreload" href="https://buy.nameshift.com/_app/immutable/chunks/kcGcsn6o.js">
		<link rel="modulepreload" href="https://buy.nameshift.com/_app/immutable/entry/app.cXmrzrsr.js">
		<link rel="modulepreload" href="https://buy.nameshift.com/_app/immutable/chunks/C1FmrZbK.js">
		<link rel="modulepreload" href="https://buy.nameshift.com/_app/immutable/chunks/IHki7fMi.js">
	</head>
	<body data-sveltekit-preload-data="hover" class="font-body font-light">
		<div style="display: contents">
			<script>
				{
					__sveltekit_10cyjel = {
						base: "",
						assets: "https://buy.nameshift.com"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("https://buy.nameshift.com/_app/immutable/entry/start.NNwTbe2u.js"),
						import("https://buy.nameshift.com/_app/immutable/entry/app.cXmrzrsr.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
