<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if !(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head id="Head1">
    <title>
        
    RSC - 404 Error - Page not found

    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="dns-prefetch" href="//www.rsc-cdn.org">
    <link rel="dns-prefetch" href="//www.googletagmanager.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <!--[if lt IE 9 ]>
      <script>
      document.createElement('header');
      document.createElement('nav');
      document.createElement('section');
      document.createElement('article');
      document.createElement('aside');
      document.createElement('footer');
      </script>
    <![endif]-->
    <link href="https://www.rsc-cdn.org/oxygen/assets/webfonts/fonts.min.css" rel="stylesheet" type="text/css" />
    <link href="https://www.rsc-cdn.org/pubs-core/2022.0.191/content/stylesheets/pubs-ui.min.css" rel="stylesheet" type="text/css" />
    
    
<!-- OneTrust Cookies Consent Notice start for pubs.rsc.org -->
    <script type="text/javascript" src="https://cdn-ukwest.onetrust.com/consent/4858ece2-d985-4da2-982d-42219fead606/OtAutoBlock.js"></script>
    <script src="https://cdn-ukwest.onetrust.com/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="4858ece2-d985-4da2-982d-42219fead606"></script>
    <script type="text/javascript">
        function OptanonWrapper() { }
    </script>

<!-- OneTrust Cookies Consent Notice end for pubs.rsc.org -->

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5HVSFVCN');</script>
        <!-- End Google Tag Manager -->

</head>

<body id="pagetop" class="oxy-ui pubs-ui 
    lp-page
">

        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-5HVSFVCN"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->


        <div data-id="pnlAccSkipLinks" class="skipto-control">
            <a href="#maincontent" class="skipto__link">
                <div class="viewport r-gutter">
                    Jump to main content <img src="https://www.rsc-cdn.org/oxygen/assets/icons/arrow-right-o-light.png" width="24" class="ver-m" alt="">
                </div>
            </a>
            <a href="#SearchText" class="skipto__link">
                <div class="viewport r-gutter">
                    Jump to site search <img src="https://www.rsc-cdn.org/oxygen/assets/icons/arrow-right-o-light.png" width="24" class="ver-m" alt="">
                </div>
            </a>
        </div>

    <header role="banner" data-id="pnlGlobalHeader" class="pubs-header">
        <div class="viewport">
            <div class="pubs-header__wrapper">
                <div class="pubs-header__cell pubs-header__cell--menu">
                    <a href="#" role="button" id="btnHamburgerMainNav" class="pubs-header__btn pubs-header__btn--open" aria-label="Open site menu"><img src="https://www.rsc-cdn.org/oxygen/assets/icons/menu-light.png" width="24" alt=""></a>
                </div>

                <div class="pubs-header__cell pubs-header__cell--home">
                    <a href="/" class="pubs-header__link pubs-header__link--home" title="Publishing home page" aria-label="Publishing home page">Publishing</a>
                </div>



<div class="pubs-header__cell pubs-header__cell--nav">
    <nav class="pubs-header__nav">
        <ul>
                    <li class="pubs-header__nav-item"><a href="/en/journals?key=title&amp;value=current" class="pubs-header__link" target="_self">Journals</a></li>
                    <li class="pubs-header__nav-item"><a href="https://books.rsc.org/books/search-results?fl_SiteID=5&amp;page=1&amp;f_ContentType=Book&amp;sort=Date+-+Newest+First" class="pubs-header__link" target="_blank">Books</a></li>
                    <li class="pubs-header__nav-item"><a href="https://www.rsc.org/journals-books-databases/databases-literature-updates/" class="pubs-header__link" target="_blank">Databases</a></li>
        </ul>
    </nav>
</div>



<div class="pubs-header__cell pubs-header__cell--search-mobile">
    <a href="#" class="pubs-header__btn" aria-label="Search" id="mobileSearchTrigger"><img src="https://www.rsc-cdn.org/oxygen/assets/icons/search-light.png" width="24" alt="" id="mobileSearchIcon"></a>
</div>

<div class="pubs-header__cell pubs-header__cell--search">
    <div class="pubs-search-control">
<form action="/en/results" aria-label="Sitewide" id="SimpleSearch-form" method="post" role="search">            <label for="SearchText" class="sr-only">Search</label>
            <input autocomplete="off" class="pubs-search__input" id="SearchText" name="SearchText" type="search" value="" />
            <div class="pubs-search__actions">
                <button class="input__search-submit" type="submit" aria-label="Search" id="btnNavSearchInput"><img src="https://www.rsc-cdn.org/oxygen/assets/icons/arrow-right.png" width="32" alt=""></button>
                <a class="pubs-search__adv-link" href="/en/search/advancedsearch" aria-label="Advanced search" id="advancedLink">Advanced</a>
            </div>
            <span class="pubs-search__icon"></span>
</form>    </div>
</div>


                <div class="pubs-header__cell pubs-header__cell--login">
                        <a href="/en/account/logon" class="pubs-header__btn" aria-label="Log in or register"><img src="https://www.rsc-cdn.org/oxygen/assets/icons/user-light.png" width="24" alt="" id="userIcon"></a>
                </div>


<div class="pubs-header__cell pubs-header__cell--trolley">
    <a href="https://www.rsc.org/basket/shoppingcart/orderitems?returnurl=https://pubs.rsc.org/en/Error/NotFound?404;http://pubs.rsc.org:80/en/journals/author-guidelines/materials-chemistry-c" class="pubs-header__btn" aria-label="View your basket"><img src="https://www.rsc-cdn.org/oxygen/assets/icons/trolley-light.png" width="24" alt="" id="trolleyIcon"></a>
    <span class="badge badge--count" style="display: none;"></span>
</div>


                <div class="pubs-header__cell pubs-header__cell--logo">
                    <a href="https://www.rsc.org" class=""><img src="https://www.rsc-cdn.org/pubs-core/2022.0.191/content/NewImages/rsc-logo-rev-pubs.svg" height="40" alt="Royal Society of Chemistry homepage"></a>
                </div>
            </div>
        </div>

        <div class="mobile-search" id="mobileSearchPanel">
            <div class="viewport">
                <div class="">
                    <div class="autopad--h fixpadt--l">
<form action="/en/results" aria-label="Sitewide" id="SimpleSearch-formMobile" method="post" role="search">                            <label for="SearchTextMobile" class="sr-only">Search</label>
                            <div class="input__search">
                                <i class="icon--search"></i>
                                <input autocomplete="off" placeholder="Search term, doi, title, author" type="search" class="input__field input__field--basic input__label--block" id="SearchTextMobile" name="SearchText">
                                <button class="input__search-submit" name="search" type="submit" aria-label="Search">
                                    <img src="https://www.rsc-cdn.org/oxygen/assets/icons/arrow-right.png" width="32" alt="" class="input__submit-icon">
                                </button>
                            </div>
                            <div class="input--error" id="errSimpleSearchMobileText">You must enter a search term</div>
                            <div class="fixpadv--m">
                                <a class="pubs-search__adv-link " href="/en/search/advancedsearch" aria-label="Advanced search" id="advancedLink">Advanced search</a>
                            </div>
</form>                    </div>
                </div>
            </div>
        </div>

        <div class="auth-header" data-id="pnlAuthHeader">
            <div data-id="pnlSignIn"></div>
            <div class="viewport">
                <div class="auth-header__institute-access">
                    <div class="auth-header__institute-messaging">
                        <span id="divWelcomeUser"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>




    <main role="main">

        
    <div class="page-head page-head--std">
        <div class="viewport">
            <div class="page-head__wrapper">
                <div class="page-head__cell page-head__cell--info page-head__vcenter">
                    <h1 class="page-head__title page-head__vcenter">
                        <span>Page not found</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>


        <noscript>
            <div class="viewport autopad--h fixpadb--m">
                <div class="plate plate--warning">
                    You do not have JavaScript enabled. Please enable JavaScript
                    to access the full features of the site or access our
                    <a href="/en/home/nonjavascriptversion">non-JavaScript page</a>.
                </div>
            </div>
        </noscript>

        <div id="maincontent">
            <div id="a11y-announcer" class="sr-only" aria-live="assertive" aria-atomic="true"></div>
            




<div class="viewport">

    <div class="layout-control">

        
        <div class="layout__panel layout__panel--secondary layout__panel--60 layout__panel--filled">

            <section class="layout__content">

                <div class="fixpadv--xs autopad--h">

                    <h2 class="h--heading3">
                        Sorry, we couldn&rsquo;t find the page you were looking for.
                    </h2>

                    <ul>
                        <li>
                            The page may have been moved, updated or deleted
                        </li>
                        <li>
                            You may have followed an incorrect link or typed the address incorrectly
                        </li>
                    </ul>

                    <p>
                        Please try to navigate to the content you wish to access through one of the following links:
                    </p>

                    <ul>
                        <li>
                            <a href="/" title="Home">RSC Publishing Home</a>
                        </li>
                        <li>
                            <a href="/en/journals?key=title&amp;value=current" title="Browse RSC Journals A-Z">Browse RSC Journals A-Z</a>
                        </li>
                        <li>
                            <a href="/en/ebooks?key=title&amp;value=newtitle" title="Browse RSC Books A-Z">Browse RSC Books A-Z</a>
                        </li>
                        <li>
                            <a href="/en/librarian/home" title="Librarian Portal Home">RSC Publishing Librarians&rsquo; Portal</a>
                        </li>
                        <li>
                            <a href="/en/search/advancedsearch" title="Advanced Search RSC Publishing">Search RSC Publishing</a>
                        </li>
                    </ul>

                    <br>
                
                </div>

            </section>

        </div>
        

        
        <div class="layout__panel layout__panel--secondary layout__panel--40 layout__panel--filled">

            

        </div>
        

    </div>

</div>
        </div>

    </main>

    <div data-id="pnlGlobalFooter">
        <div class="rsc-ui">
            <!-- start oxygen footer -->
            <footer class="rsc-footer">
                <div class="breadcrumbs">
                    <div class="viewport">
                        <nav aria-label="Breadcrumb">
                            <ul>
                                <li class="extra"><a href="https://www.rsc.org">rsc.org</a></li>
                                <li>
                                    <img src="https://www.rsc-cdn.org/pubs-core/2022.0.191/content/NewImages/chevron-right.png" width="8" height="8" alt="" />
                                    <a href="https://www.rsc.org/journals-books-databases/" class="selected">Journals, books &amp; databases</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class='nav' id='pnlSiteMap'>
                    <div class='viewport'>
                        <div class='rsc-logo'>
                            <img src="https://www.rsc-cdn.org/pubs-core/2022.0.191/content/NewImages/rsc-logo-rev-pubs.svg" alt="Royal Society of Chemistry homepage">
                        </div>
                        <div class='links'>
                            <ul>
                                <li><a href='https://www.rsc.org/'>Home</a></li>
                                <li><a href='https://www.rsc.org/about-us/'>About us</a></li>
                                <li><a href='https://www.rsc.org/membership-and-community/'>Membership &#38; professional community</a></li>
                                <li><a href='https://www.rsc.org/campaigning-outreach/'>Campaigning &#38; outreach</a></li>
                                <li><a href='https://www.rsc.org/journals-books-databases/'>Journals, books &#38; databases</a></li>
                                <li><a href='https://www.rsc.org/teaching-and-learning/'>Teaching &#38; learning</a></li>
                                <li><a href='https://www.rsc.org/news-events/'>News&#160;&#38; events</a></li>
                                <li><a href='https://www.rsc.org/locations-contacts/'>Locations &#38; contacts</a></li>
                                <li><a href='https://www.rsc.org/careers/'>Careers</a></li>
                                <li><a href='https://www.rsc.org/awards-funding/'>Awards &#38; funding</a></li>
                                <li><a href='https://www.rsc.org/advertise/'>Advertise</a></li>
                                <li><a href='https://www.rsc.org/help-legal/'>Help &#38; legal</a></li>
                                <li><a href='https://www.rsc.org/help-legal/legal/privacy/'>Privacy policy</a></li>
                                <li><a href='https://www.rsc.org/help-legal/legal/terms-conditions/'>Terms &#38; conditions</a></li>
                            </ul>
                        </div>
                        <hr class='clear'>
                    </div>
                </div>
                <div class='baseline'>
                    <div class='viewport'>
                        <div class='social-icons'>
                            <a href='https://www.facebook.com/RoyalSocietyofChemistry' class='facebook'><span class='sr-only'>Facebook</span><img src='https://www.rsc-cdn.org/pubs-core/2022.0.191/content/NewImages/facebook-128.png' height='32' width='32' alt=''></a>
                            <a href='https://twitter.com/RoySocChem' class='twitter'><span class='sr-only'>Twitter</span><img src='https://www.rsc-cdn.org/pubs-core/2022.0.191/content/NewImages/twitter-128.png' height='32' width='32' alt=''></a>
                            <a href='https://www.linkedin.com/company/23105' class='linkedin'><span class='sr-only'>LinkedIn</span><img src='https://www.rsc-cdn.org/pubs-core/2022.0.191/content/NewImages/linkedin-128.png' height='32' width='32' alt=''></a>
                            <a href='https://www.youtube.com/user/wwwRSCorg' id='lastLinkOnPage' class='youtube'><span class='sr-only'>YouTube</span><img src='https://www.rsc-cdn.org/pubs-core/2022.0.191/content/NewImages/youtube-128.png' height='32' width='32' alt=''></a>
                        </div>
                        <div class='copyright'>
                            &#169; Royal Society of Chemistry 2026<br>Registered charity number: 207890
                        </div>
                    </div>
                </div>
                <hr class='clear'>
            </footer>
            <!-- end oxygen footer -->
<div class="rsc-onetrust-cookie-footer">
    <div id="rsc-onetrust-cookie-footer-non-br">This website collects cookies to deliver a better user experience.
        <span id="rsc-onetrust-cookie-footer-global">
            See how this site uses <a href="/en/content/cookies" title="See how this site uses cookies" aria-label="See how this site uses cookies">Cookies</a>. 
        </span>
        <span id="rsc-onetrust-cookie-footer-ca" style="display: none;">
            <a href="/en/content/cookies" title="Do not sell my personal data" aria-label="Do not sell my personal data">Do not sell my personal data</a>. 
        </span>
    </div>
    <div id="rsc-onetrust-cookie-footer-br" style="display: none;">
        Este site coleta cookies para oferecer uma melhor experi&ecirc;ncia ao usu&aacute;rio.
        <span>
            Veja como este site usa <a href="/en/content/cookies" title="Veja como este site usa cookies" aria-label="Veja como este site usa cookies">Cookies</a>. 
        </span>
    </div>
</div>

        </div>
    </div>

    <div class="modal__canvas modal__canvas--clickclose">
    </div>



<div class="pubs-nav-drawer" aria-hidden="true">
    <nav class="pubs-nav-control" aria-label="Site menu">
        <div class="pubs-nav__header">
            <a href="#" role="button" class="pubs-header__btn pubs-nav__close nav-item-first" tabindex="-1" aria-label="Close site menu"><img src="https://www.rsc-cdn.org/oxygen/assets/icons/cross-light.png" width="24" alt=""></a>
            <a href="/" class="pubs-header__link--home pubs-nav__title" tabindex="-1" title="Publishing home page" aria-label="Publishing home page">Publishing</a>
        </div>
        <div class="pubs-nav__body scrollbar--slim">
                    <div class="pubs-nav__list autopad--h">
                        <h2 class="pubs-nav__heading">Journals</h2>
                        <ul class="pubs-nav__ul">
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_self" href="/en/journals?key=title&amp;value=current" class="pubs-nav__link" tabindex="-1">Current Journals</a>
                                        
                                    </li>
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_self" href="/en/journals?key=title&amp;value=archive" class="pubs-nav__link" tabindex="-1">Archive Journals</a>
                                        
                                    </li>
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_self" href="/en/journals?key=title&amp;value=all" class="pubs-nav__link" tabindex="-1">All Journals</a>
                                        
                                    </li>
                        </ul>
                    </div>
                    <div class="pubs-nav__list autopad--h">
                        <h2 class="pubs-nav__heading">Books</h2>
                        <ul class="pubs-nav__ul">
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_blank" href="https://books.rsc.org/books/search-results?fl_SiteID=5&amp;page=1&amp;f_ContentType=Book&amp;sort=Date+-+Newest+First" class="pubs-nav__link" tabindex="-1">Browse Books</a>
                                        
                                    </li>
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_blank" href="https://books.rsc.org/books/collections/series" class="pubs-nav__link" tabindex="-1">Series</a>
                                        
                                    </li>
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_blank" href="https://www.rsc.org/journals-books-databases/book-authors/propose-book-idea/" class="pubs-nav__link" tabindex="-1">For Authors and Editors</a>
                                        
                                    </li>
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_blank" href="https://www.rsc.org/journals-books-databases/book-authors/" class="pubs-nav__link" tabindex="-1">About</a>
                                        
                                    </li>
                        </ul>
                    </div>
                    <div class="pubs-nav__list autopad--h">
                        <h2 class="pubs-nav__heading">Databases</h2>
                        <ul class="pubs-nav__ul">
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_blank" href="https://www.rsc.org/journals-books-databases/databases-literature-updates/" class="pubs-nav__link" tabindex="-1">Literature Updates</a>
                                        
                                    </li>
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_blank" href="http://www.chemspider.com/" class="pubs-nav__link" tabindex="-1">ChemSpider</a>
                                        
                                    </li>
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_blank" href="https://www.rsc.org/merck-index" class="pubs-nav__link" tabindex="-1">The Merck Index*</a>
                                        
                                    </li>
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_blank" href="https://marinlit.rsc.org/" class="pubs-nav__link" tabindex="-1">MarinLit</a>
                                        
                                    </li>
                        </ul>
                    </div>
                    <div class="pubs-nav__list autopad--h">
                        <h2 class="pubs-nav__heading">More</h2>
                        <ul class="pubs-nav__ul">
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_blank" href="https://www.rsc.org/resources-tools/research-tools/#access" class="pubs-nav__link" tabindex="-1">For Members</a>
                                        
                                    </li>
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_self" href="/en/librarian/home" class="pubs-nav__link" tabindex="-1">For Librarians</a>
                                        
                                    </li>
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_blank" href="https://www.rsc.org/journals-books-databases/about-journals/journal-email-alerts-service/" class="pubs-nav__link" tabindex="-1">Subscribe</a>
                                        
                                    </li>
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_self" href="/en/ealerts/rssfeed" class="pubs-nav__link" tabindex="-1">RSS Feeds</a>
                                        
                                    </li>
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_blank" href="http://blogs.rsc.org/" class="pubs-nav__link" tabindex="-1">Blogs</a>
                                        
                                    </li>
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_blank" href="https://www.chemistryworld.com/" class="pubs-nav__link" tabindex="-1">Chemistry World</a>
                                        
                                    </li>
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_blank" href="https://edu.rsc.org/eic" class="pubs-nav__link" tabindex="-1">Education in Chemistry</a>
                                        
                                    </li>
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_blank" href="https://www.rsc.org/journals-books-databases/open-access/" class="pubs-nav__link" tabindex="-1">Open Access</a>
                                        
                                    </li>
                                    <li class="pubs-nav__item pubs-nav__indent">
                                            <a target="_blank" href="http://pubs.rsc.org/historical-collection" class="pubs-nav__link" tabindex="-1">Historical Collection</a>
                                        
                                    </li>
                        </ul>
                    </div>

        </div>
    </nav>
</div>


    <script>
        var eCommerceGetOrderItemCountUrl = 'https://www.rsc.org/basket/shoppingcart/getorderitemcount';
        var hideNotificationMessageUrl = '/en/home/HideNotificationMessage';
        var brandingBarUrl = '/en/home/branding_New';
    </script>
    <script src="https://www.rsc-cdn.org/pubs-core/2022.0.191/content/Scripts/dist/vendor.min.js"></script>
    <script src="https://www.rsc-cdn.org/pubs-core/2022.0.191/content/Scripts/dist/pubs-ui.min.js"></script>
    
</body>
</html>
